name: Release

on:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
      packages: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: 'https://npm.pkg.github.com'
          scope: '@joinmarket-webui'
        
      - run: |
          npm clean-install
          npm run build
          npm publish --verbose
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
