name: Release

on:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
      packages: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'v24.11.1'
          scope: '@joinmarket-webui'

      - name: Install
        run: npm clean-install

      - name: Build
        run: npm run build

      - name: Publish to npm Registry
        run: |
          npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
          npm run publish:npm

      - name: Publish to Github Registry
        run: |
          npm set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}
          npm run publish:ghr
