name: Release

on:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
      packages: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'v24.11.1'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@joinmarket-webui'

      - name: Install
        run: npm clean-install

      - name: Build
        run: npm run build

      - name: Publish to npm Registry
        run: npm run publish:npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish to Github Registry
        run: npm run publish:ghr
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
