name: Release

on:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
      packages: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 'v24.11.1'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@joinmarket-webui'
      
      - name: Install
        run: npm clean-install
      
      - name: Build
        run: npm run build
      
      - name: Publish
        run: npm publish --access public --verbose
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
